services:
  order-service:
    build: ./order-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${DB_NAME}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - PAYMENT_SERVICE_URL=${PAYMENT_SERVICE_URL}
      - INVENTORY_SERVICE_URL=${INVENTORY_SERVICE_URL}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - saga-net

  payment-service:
    build: ./payment-service
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
    networks:
      - saga-net

  inventory-service:
    build: ./inventory-service
    ports:
      - "8082:8082"
    environment:
      - SERVER_PORT=8082
    networks:
      - saga-net

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - saga-net

networks:
  saga-net:
    driver: bridge
